<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--        <bean id = "paymentService" class = "org.example.payment.PaymentService">-->
<!--            <constructor-arg name="type" value="UPI"/>-->
<!--            <constructor-arg name="retryCount" value="3"/>-->
<!--        </bean>-->

<!--        <bean id = "orderService" class = "org.example.OrderService">-->
<!--            <property name="PaymentServiceBean" ref = "paymentService"/>-->
<!--        </bean>-->

<!--        <bean id = "orderService" class = "org.example.OrderService">-->
<!--                <constructor-arg ref="paymentService"/>-->
<!--        </bean>-->


    <bean id="upiPaymentService" class="org.example.payment.UPIPaymentService"/>

<!--        <bean id="cardPaymentService" class="org.example.payment.CardPaymentService"/>-->

<!--        <bean id="orderService" class="org.example.OrderService">-->
<!--            <constructor-arg ref="upiPaymentService" />-->
<!--        </bean>-->

<!--        <bean id="userService" class = "org.example.UserService">-->
<!--            <constructor-arg name = "usernames">-->
<!--                <map>-->
<!--                    <entry key = "" value=""/>-->
<!--                    <entry key = "" value=""/>-->
<!--                    <entry key = "" value=""/>-->
<!--                </map>-->
<!--            </constructor-arg>-->
<!--        </bean>-->

</beans>